<html>
    <head>
        <title>List of County Councils</title>
        <link rel="stylesheet" href="/static/county.css" />
    </head>
    <body>
            <h2>Here's the County general information</h2>
            {{ data | safe }}

            <p>Click <a href="/visual">here</a> for this data's Line visual.</p>
            <p>Click <a href="/visual1">here</a> for this data's Scatterplot visual.</p>
            <p>Click <a href="/visual2">here</a> for this data's Histogram visual.</p>
    </body>
</html>